@Override
public int hashCode() {
    int hash = 7;
    #set($i = 0)
    #set($size = $fields.size())
    #foreach($field in $fields)
    hash = 31 * hash + ##
        #if ($field.primitive)
            #if ($field.long)
                Long.hashCode(${field.name});
            #elseif ($field.float)
                Float.hashCode(${field.name});
            #elseif ($field.double)
                Double.hashCode(${field.name});
            #elseif ($field.boolean)
                Boolean.hashCode(${field.name});
            #else
                ${field.name};
            #end
        #elseif ($field.collection || $field.map)
            ## collection getters are always start from 'get'
            #set($getter = "get$field.name.substring(0, 1).toUpperCase()$field.name.substring(1)")
            ${getter}().hashCode();
        #elseif ($field.array)
            java.util.Arrays.hashCode(${field.name});
        #else
            java.util.Objects.hashCode(${field.name});
        #end
    #end
    return hash;
}
